html, body {
    overflow-x: hidden;
    margin: 0;
    font-family: Arial, sans-serif;
    font-family: "Open Sans";
    background: linear-gradient(to bottom,#060606, #161823);
    
}

:root {
    --bs-primary: #E9FF09;
    --bs-primary-light: #E9FF09;
    --bs-secondary: #010101;
    --bs-primary-rgb: 0, 40, 40;
    --bs-secondary-rgb: 1, 1, 1;
    --bs-border-radius: 0;
    --bs-body-font-family: "Outfit";
}

body {
    font-family: var(--bs-body-font-family), sans-serif;
    
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: var(--bs-body-font-family), sans-serif;
    font-weight: 600 !important;
    line-height: 1.4;
}

.certifications h2 {
    color: #E9FF09;
    margin-left: 60px;
    font-size: 1.8em;
    position: relative;
    margin-right: auto;
    color: #E9FF09;
    font-weight: 600;
    text-decoration: none;
    z-index: 2;
    position: relative;
    padding-top: 20px;
    width: fit-content;
}
.certifications h2::before {
    content: '';
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    border-bottom: 8px solid #474646;
    display: block;
    z-index: -1;
    transform: scaleX(1);
    margin: 0;
    transition: transform 300ms ease, border-color 300ms ease;
    transform-origin: center;
}

.certification-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
}

.certificate-wrapper {
    display: inline-block;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}

.certificate-wrapper img {
    height: 40vh;
    width: 40vh;
    display: inline-block;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 10px;
    cursor: pointer; 
}

.certificate-description {
    color: white;
    font-size: 1em;
    padding-top: 10px;
    padding-bottom: 10px;
}

.certificate-wrapper a {
    text-decoration: none;
    color: #E9FF09;
    padding-top: 10px;
}

.validate-link {
    display: inline-block;
    margin-top: 5px;
    color: #E9FF09;
    text-decoration: underline;
    font-size: 0.9em;
    border: 2px solid #E9FF09;
    padding: 5px 10px;
    padding-top: 5px;
    padding-bottom: 8px;
    border-radius: 20px;
    text-align: center; 
    line-height: 1;
}

.validate-link:hover {
    background-color: #E9FF09;
    color: #000;
}

.modal {
    display: none; 
    position: relative;
    z-index: 9; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9); 
}

.modal-content {
    margin: 0 auto;
    position: absolute;
    top:10vh;
    margin-left: 5%;
    width: 90%; 
    max-height: 90%; 
}

#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

.modal-content, #caption {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from { transform: scale(0); }
    to { transform: scale(1); }
}

.close {
    position: absolute;
    right: 200px;
    color: #E9FF09;
    padding: 0px 5px 0px 5px ;
    border-radius: 10px;
    font-size: 35px;
    font-weight: 100 !important;
    font-weight: bold;
    transition: 0.3s;
}
.close {
    position: absolute;
    right: 70px;
    top: 5vh;
}
.close:hover,
.close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
}

/* Styles for small screens */
@media only screen and (max-width: 375px) {
    .certifications h2 {
        padding-left: 10px;
        font-size: 1.4em;
    }
    
    .certification-container {
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        align-items: center;
    }
    
    .certificate-wrapper img {
        height: auto;
        width: 90%;
        margin: 10px 0;
    }
    
    .certificate-description {
        font-size: 0.8em;
    }
    
    .validate-link {
        font-size: 0.8em;
        padding: 8px 8px;
    }
    
    .modal {
        position: fixed;
        padding-top: 30px;
    }
    
    .close {
        right: 10px;
        font-size: 10px;
        top: 10px;
    }
}

/* Styles for small to medium screens */
@media only screen and (min-width: 376px) and (max-width: 480px) {
    .certifications h2 {
        color: #E9FF09;
        font-size: 1.4em;
    }

    .certification-container {
        margin-left: 10px;
        margin-right: 10px;
        flex-direction: column;
        align-items: center;
    }

    .certificate-wrapper img {
        height: auto;
        width: 90%;
        margin: 10px 0;
    }

    .certificate-description {
        font-size: 0.8em;
    }

    .validate-link {
        font-size: 0.8em;
        padding: 8px 8px;
    }

    .modal {
        position: fixed;
        padding-top: 30px;
    }

    .close {
        right: 20px;
        font-size: 20px;
        top: 0px;
    }
}

/* Styles for medium screens */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .certifications h2 {
        color: #E9FF09;
        font-size: 1.6em;
    }

    .modal {
        position: fixed;
        padding-top: 50px;
    }

    .close {
        right: 30px;
        font-size: 30px;
        top: 0px;
    }
}

/* Styles for medium to large screens */
@media only screen and (min-width: 769px) and (max-width: 979px) {
    .certifications h2 {
        color: #E9FF09;
        font-size: 1.7em;
    }


    .modal {
        position: fixed;
        padding-top: 50px;
    }

    .close {
        right: 40px;
        font-size: 35px;
        top: 0px;
    }
}

/* Styles for large screens */
@media only screen and (min-width: 980px) and (max-width: 1024px) {
    .certifications h2 {
        color: #E9FF09;
        font-size: 1.8em;
    }
    .modal {
        position: fixed;
        padding-top: 70px;
    }

    .close {
        right: 50px;
        font-size: 40px;
        top: 10px;
    }
}

/* Styles for extra large screens */
@media only screen and (min-width: 1025px) and (max-width: 1399px) {
    .certifications h2 {
        color: #E9FF09;
        font-size: 1.9em;
    }
    .modal {
        position: fixed;
        padding-top: 80px;
    }

    .close {
        right: 60px;
        font-size: 45px;
        top: 10px;
    }
}

/* Styles for extra extra large screens */
@media only screen and (min-width: 1400px) {
    .modal {
        z-index: 9;
        position: fixed;
    }

   
}
